@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');

  *{
  margin:0;
  padding:0;
}

body {
  background-color: #ffedf8;
  background-image: url('Place background Link Here');
  background-size: cover;
  background-repeat: no-repeat;



  height: 100vh;
  padding:0;
  margin:0;
  font-size:15pt;
  font-family: 'Ropa Sans', sans-serif;
  color: #043077

}

#animation {
  width:100vw;
  height:100vh;
  border: none;
  position: fixed;
  z-index: -999;
}

.links{
  float: left;
  font-size: 25pt;
  list-style-type: none;
  margin-right: 0 auto;
  text-align: center;
  position: absolute;
  left:330px;
  top:290px;
}

.links a {
    color: 043077;
    background: #ff006e;
    padding: 0px;
}

h1 {
   font-size:20pt;
 }
 h2 {
   font-size:25pt;
 }
 h3 {
   font-size:30pt;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #e785ff; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ff99ca; /* Grey background color */
  color: black; /* Black text color */
}


/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #ffc6e1; /* Grey background color */
  padding: 20px; /* Some padding */
  opacity: 0.6
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
  opacity: 0.6

}
